body {
	padding-right: 0px;
}

.content {
	padding-top: 50px;
}

.modal-dialog {
    margin: 80px auto;
}

.toolbar {
	padding-bottom: 10px;
	overflow: auto;
}

.toolbar_text {
	font-size: 21px;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
	border: 0;
	min-width: 1000px;
}

.main {
	padding-right: 40px;
	padding-left: 40px;
	min-width: 800px;
	padding-top: 20px;
}

.mainNew {
	padding-top: 20px;
}

.search {
	width: 400px;
}


.resources>li>a {
	padding-left: 40px;
}

.main .page-header {
	margin-top: 0;
}

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.h{
	width: 20px;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.btn-medium {
	min-width: 80px;
}

.btn-small {
	width: 60px;
}

.table {
	margin-bottom: 0px;
}

.list-group>li>a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
}

.list-group-item {
	cursor: pointer;
}

.navbar>.nav>li {
	float: left;
}

.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-nav {
	margin: 0px;
	float: left;
}

.navbar-right {
	float: right !important;
	margin-right: 15px;
}

#graph {
	width: 100%;
	height: 400px;
}

.parameter{
	min-width: 70px;
}

#hours {
	width: 100%;
	height: 300px;
}

#free {
	width: 100%;
	height: 300px;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.tick text {
	font-size: 12px;
}

.tick line {
	opacity: 0.2;
}

.range {
	margin-bottom: 10px;
}

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}