<div class="container">
	<form class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">Log in</h2>
		<input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="credentials.username">
		<input type="password" class="form-control" placeholder="Password" required="" ng-model="credentials.password">
		<button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 10px">Log in</button>
		<div class="alert alert-danger" ng-show="error">There was a problem logging in. Please try again.</div>
	</form>
</div>