<div class="main">
	<ul class="nav nav-tabs">
		<li ng-class="{active: tab.active == 'summary'}"><a href="#" ng-click='tab.active="summary"; fetchSchedule()'>Summary</a></li>
		<li ng-class="{active: tab.active == 'slots'}"><a href="#" ng-click='tab.active="slots"'>Slots</a></li>
		<li ng-class="{active: tab.active == 'resources'}"><a href="#" ng-click='tab.active="resources"'>Resources</a></li>
		<li ng-class="{active: tab.active == 'subjects'}"><a href="#" ng-click='tab.active="subjects"'>Subjects</a></li>
	</ul>
	<div class="mainNew "ng-switch='tab.active'>
		<div ng-switch-when="slots">
			<div ng-include="'/views/slots.html'"></div>
		</div>
		<div ng-switch-when="summary">
			<div ng-include="'/views/summary.html'"></div>
		</div>
		<div ng-switch-when="resources">
			<div ng-include="'/views/resources.html'"></div>
		</div>
		<div ng-switch-when="subjects">
			<div ng-include="'/views/subjects.html'"></div>
		</div>		
	</div>
</div>
