<div class="col-sm-2">
	<div class="toolbar">
			<input type="button" class="btn btn-success btn-medium" value="New" data-toggle="modal" data-target="#resModal"></input>
			<input ng-show="!deleteSubjectButtons" type="button" class="btn btn-primary btn-medium" value="Edit" ng-click="showSubjectDeleteButtons()"></input>
			<input ng-show="deleteSubjectButtons" type="button" class="btn btn-primary btn-medium" value="Cancel" ng-click="hideSubjectDeleteButtons()"></input>
				<div class="modal" id="resModal" tabindex="-1"
					role="dialog" aria-labelledby="basicModal" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">New Subject</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" ng-model="subject.name">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default btn-medium" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary btn-medium" ng-click="createSubject(subject)" data-dismiss="modal">Save</button>
							</div>
						</div>
					</div>
				</div>
		</div>
</div>
<div class="col-sm-12">
	<div class="list-group" ng-show="subjects.length > 0">
		<div class="list-group-item"
			ng-repeat="subject in subjects | orderBy: 'name'">
			{{subject.name}} <input ng-show="deleteSubjectButtons"
				style="float: right;" class="btn btn-xs btn-danger del btn-small"
				type="text" value="Delete" ng-click="deleteSubject(subject)">
		</div>
	</div>
</div>
<div class="col-sm-12">
	<div class="alert alert-info" ng-show="subjects.length == 0">No
		subjects found</div>
</div>